# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
backend/chroma_db/
temp_uploads/

# Node dependencies
frontend/node_modules/
frontend/dist/

# Environments
.env
.env.*
backend/.env
api/.env
*.env

# OS files
.DS_Store
Thumbs.db
